/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --blue: #3a38aa;
  --blue-light: #77acf1;
  --blue-light-strong: #3a89f0;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* generic styles for the page */
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  color: var(--magenta);
}

img {
  width: 100%;
}
a:hover {
  color: var(--hotmag);
  text-decoration: none;
}
/* intro styles */
#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1rem;
}
#intro h2 {
  font-size: 4rem;
}
.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--blue-light);
  display: block;
  font-weight: 300;
}
.contact-section {
  background-color: var(--plum);
}
.projects-section {
  background-color: var(--dkblue);
}
#projects {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
/* contact section */

#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

#contact p:last-child {
  margin-top: 3rem;
}

/* navigation */
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--sans);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
nav [class*="fa-"] {
  font-size: 150%;
  color: var(--blue-light);
}
nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--blue-light);
}
nav a {
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--magenta);
}
.button {
  background-color: var(--magenta);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--mono);
  text-decoration: none;
  font-family: var(--mono);
}

.button:hover {
  color: white;
  background-color: var(--hotmag);
}

#contact p:last-child {
  margin-top: 3rem;
}
/* footer section */
footer {
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 5rem;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}

#projects {
  padding: auto;
}
#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}
#projects h3 {
  color: var(--blue-light);
}
#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}

.blackbox {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}
#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

#projects img {
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--blue-light);
  border-top: 1px solid var(--blue-light);
  border-radius: 25px;
  padding: 1rem;
}

.gradient {
  height: 0.2rem;
  background: rgb(255, 23, 228);
  background: linear-gradient(
    90deg,
    rgba(255, 23, 228, 1) 35%,
    rgba(119, 172, 241, 1) 65%
  );
}

/*About Page*/
#about ul {
  margin: 0.5rem 0;
}
#projects-title {
  margin: 10px;
  font-size: 3rem;
  text-align: center;
}
#flex-projects {
  padding: 1rem 0 1rem 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  padding: 2rem 0.5rem; 
  gap: 1rem;
  max-width: 120rem;
}
.card-container {
  padding: 0 2rem 1rem 1.3rem;
  /* margin: 0.5rem 1rem; */
}

.card {
  font-family: "Rubik", sans-serif;
  width: 21.5rem;
  height: 18rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #e8e8ea;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  color: #333;
  transition: all 0.3s ease-out;
}
.card-v2:hover {
  transform: translateY(-1.2rem);
}

.tag-span {
  display: inline-block;
  border-radius: 1rem;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  /* margin: 1rem; */
  text-transform: uppercase;
  color: #333;
  font-weight: 500;
  font-size: 0.8rem;
}
.tag-html {
  background-color: #43b73a;
  /* background-color: rgb(222, 78, 37,0.95); */
}
.tag-res {
  background-color: #2fc4ba;
}
.tag-js {
  background-color: #dbdb00;
}
.tag-api {
  background-color: #8fa3c3;
}
.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.img-card {
  width: 100%;
  display: block;
  height: 10.2rem;
  
}
.card-list {
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
  padding-top: 0.8rem;
}
.card-button {
  padding: 0.5rem 0.7rem;
  background-color: #da2268;
  color: #fff;
  border-radius: 1rem;
  text-decoration: none;
  transition: all 0.3s linear;
}
.card-button:hover{
  background-color: #d35485;
  color: #fff;
  cursor: pointer;
}

