/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --blue: #3a38aa;
  --blue-light: #77acf1;
  --blue-light-strong: #3a89f0;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* generic styles for the page */
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  color: var(--magenta);
}

img {
  width: 100%;
}
a:hover {
  color: var(--hotmag);
  text-decoration: none;
}
/* intro styles */
#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1rem;
}
#intro h2 {
  font-size: 4rem;
}
.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--blue-light);
  display: block;
  font-weight: 300;
}
.contact-section {
  background-color: var(--plum);
}
.projects-section {
  background-color: var(--dkblue);
}
#projects {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
/* contact section */

#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

#contact p:last-child {
  margin-top: 3rem;
}

/* navigation */
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--sans);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
nav [class*="fa-"] {
  font-size: 150%;
  color: var(--blue-light);
}
nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--blue-light);
}
nav a {
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--magenta);
}
.button {
  background-color: var(--magenta);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: var(--mono);
  text-decoration: none;
  font-family: var(--mono);
}

.button:hover {
  color: white;
  background-color: var(--hotmag);
}

#contact p:last-child {
  margin-top: 3rem;
}
/* footer section */
footer {
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 5rem;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}

#projects {
  padding: auto;
}
#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}
#projects h3 {
  color: var(--blue-light);
}
#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}

.blackbox {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}
#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

#projects img {
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--blue-light);
  border-top: 1px solid var(--blue-light);
  border-radius: 25px;
  padding: 1rem;
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

@media (min-width: 550px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }
  #projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .text {
    order: 2;
    text-align: right;
    grid-column: 5/11;
    grid-row: 1/2;
  }
  #projects ul {
    justify-content: flex-end;
  }
}

.gradient {
  height: 0.2rem;
  background: rgb(255, 23, 228);
  background: linear-gradient(
    90deg,
    rgba(255, 23, 228, 1) 35%,
    rgba(119, 172, 241, 1) 65%
  );
}

/*About Page*/
#about ul {
  margin: 0.5rem 0;
}
#projects-title {
  margin: 10px;
  font-size: 3rem;
  text-align: center;
}
#flex-projects{
  padding: 1rem 0 1rem 0;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.card {
  position: relative;
  width: 20rem;
  height: 17rem;
  background-image: url(../img/advice.png);
  background-size: cover;
  margin: 30px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.card:hover {
  filter: blur(0px);
  transform: scale(1.1);
  opacity: 1;
}
.card .circle {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffaf00;
  clip-path: polygon(0% -5%, 100% -5%, 100% 30%, 0% 30%);
  text-align: center;
}
.card .circle h2 {
  color: #fff;
  font-size: 1.5em;
}
#tag {
  color: black;
  font-weight: bold;
}

.card .content {
  position: absolute;
  left: 55px;
  bottom: 5px;
  padding: 10px;
  text-align: center;
}
.card .content p {
  color: #666;
  padding-bottom: 30px;
  font-size: 1.1em;
}
.card .content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: black;
}
.card .content li {
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
  background-color: black;
  color: white;
}
.card .content a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #da2268;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.5s;
}
.card .content a:hover {
  background: #da467e;
  color: #fff;
  transform: scale(1.1);
}
